[mysqld]
#
# * Basic Settings
#
#bind-address		= 127.0.0.1
bind-address		= 0.0.0.0
# Error log - should be very few entries.
log_error = /var/log/mysql/error.log
slow_query_log		= 1
slow_query_log_file	= /var/log/mysql/mysql-slow.log

character-set-server=utf8
collation-server=utf8_unicode_ci
init-connect="SET NAMES utf8 COLLATE utf8_unicode_ci"
